In [ ]:
import pandas as pd
import numpy as np

Тип данных pd.DataFrame представляет собой двумерную таблицу с данными. Имеет индекс и набор столбцов (возможно, имеющих разные типы). 

Таблицу можно построить, например, из словаря, значениями в котором являются одномерные наборы данных.

In [ ]:
# загрузка таблички
pass_link = 'https://www.dropbox.com/s/lyzcuxu1pdrw5qb/titanic_data.csv?dl=1'
data = pd.read_csv(pass_link)

In [ ]:
print('Всего пассажиров: ', len(data))
data.head(4)

In [ ]:
# выбор нужных колонок
data[['Name', 'Age', 'Sex']]

In [ ]:
# выбор нужных строк
data.iloc[:1]

In [ ]:
# выбор нужных строк c конца
data.iloc[-2:]

In [ ]:
# переименование колонок
data = data.rename(columns={
    "SibSp": "братьев/систер/муж/жена",
    "Parch": "детей/родителей",
    "Fare": "цена билета"
})
data.head(2)

In [ ]:
# число строк, столбцов
data.shape

In [ ]:
# типы колонок, пропуски в данных
data.info()

In [ ]:
# основные статистики по колонкам
data.describe()

In [ ]:
# максимальный, минимальный возраст пассажиров
data.Age.max(), data.Age.min(), round(data.Age.mean(), 2)

In [ ]:
# число мужчин/женщин
data['Sex'].value_counts() #-- очень полезная функция!

In [ ]:
# сгруппируем записи по классам пассажиров, 
# в каждой группе посчитаем средний возраст
data.groupby('Pclass', as_index=False)['Age'].mean()

In [ ]:
# скачиваем табличку по летальности
surv_link = 'https://www.dropbox.com/s/v35x9i6a1tc7emm/titanic_surv.csv?dl=1'
surv_data = pd.read_csv(surv_link)
surv_data.head()

In [ ]:
# создаем колонку PassengerId из индексов в табличке surv_data
surv_data['PassengerId'] = surv_data.index

In [ ]:
# соединяем таблички по колонке 'PassengerId'
data = data.merge(surv_data, on='PassengerId')
data.head(2)

In [ ]:
# посчитаем кол-во выживших
surv_pass = data[data['Survived'] == 1]
print('кол-во выживших на титанике: ', surv_pass['Survived'].sum())

In [ ]:
# посчитаем кол-во выживших мужчин и женщин
data.groupby(['Sex', 'Survived'])['PassengerId'].count()